[Unit]
Description=Veles Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/bin/veles
ExecStart=/bin/python3 /bin/veles/bot.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=veles-bot

[Install]
WantedBy=multi-user.target